body {
    margin: 0;
    background-color: rgb(219, 219, 219);
}

h2 {
    font-family: monospace;
}

.uzdevumaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;

    border: rgb(228, 175, 0) 3px solid;
}